<div class=" main-wrapper d-flex flex-column h-100">
  <div class="border border-dark ">
    <app-header></app-header>
  </div>
  <div class="border border-dark h-100 flex-grow-1 overflow-auto p-3">
    <router-outlet></router-outlet>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, nihil. Repellendus voluptatibus omnis quas?
      Maiores dolore nihil quae, tempora placeat pariatur at repellendus laboriosam quidem perferendis, sapiente ab
      tenetur unde harum labore. Dolore labore, placeat saepe harum officia et aliquam quaerat voluptates illo nesciunt
      exercitationem dolores veniam libero! Quam quod eos vero, repellat, consectetur fugiat consequuntur nisi quibusdam
      omnis modi, sit veniam magnam inventore rerum enim optio unde cupiditate officiis id iure est et. Magni fugiat
      tempore vel qui perspiciatis, soluta rerum cupiditate dolor, voluptatibus fugit animi ipsa ipsum maxime placeat
      voluptas odio doloribus reprehenderit quo ullam delectus dolore. Officiis aliquam, quibusdam atque natus laborum
      eaque reprehenderit! Distinctio magnam doloremque, exercitationem maiores assumenda explicabo ab hic facere
      mollitia atque iure. Ducimus, repellat blanditiis, doloribus veritatis aspernatur mollitia natus voluptate
      possimus provident, ex praesentium atque. Temporibus veniam commodi laudantium consequatur, iste eveniet quis
      eaque! Quidem rem asperiores quos eos dignissimos! Ipsum hic architecto ipsa nulla repudiandae officia voluptate
      blanditiis molestias quisquam assumenda! Corporis, non at. Asperiores aperiam unde voluptatibus aspernatur iure
      alias veniam adipisci doloremque cupiditate blanditiis ut eius, eos nobis labore soluta ullam odio! Tempore magni
      velit totam odio atque odit id natus ut nemo ipsum alias, mollitia tempora fugiat perferendis earum aut blanditiis
      temporibus fugit, ullam nulla, placeat ex aspernatur voluptas. Quo et ab porro voluptatibus ex hic culpa nostrum
      similique, aliquam pariatur? Aliquid doloribus nulla molestias assumenda dolor illum, commodi quos corporis, quo
      et animi veniam officia deserunt recusandae possimus eum ipsa! In dolor omnis nihil enim error aliquam qui,
      incidunt aliquid optio, velit atque ipsam ut, repellendus deserunt nulla facilis. Laborum illum esse recusandae
      rem sed cumque repellat? Libero fuga enim explicabo, aliquid corporis aliquam eveniet fugiat aut similique
      voluptate odit officiis voluptatem cum unde, maxime nisi voluptas rerum modi numquam quam tempora earum
      repudiandae? Explicabo, autem enim? Provident earum pariatur voluptates impedit vel minima culpa, autem nesciunt.
      Natus deserunt nisi, repudiandae molestiae commodi eveniet a mollitia praesentium, beatae error minus distinctio
      dicta optio suscipit vero totam? Non dicta doloremque dolorum iusto commodi nisi similique. Praesentium omnis non
      aspernatur, tempore dolor ullam iste, quas sed, vel quae nemo quo debitis consectetur numquam adipisci maiores
      placeat et veniam inventore dolores sit consequatur magnam! Debitis minima ipsam aperiam autem veritatis fugit
      culpa dolore, aut vel ut distinctio pariatur, repellendus eum id temporibus. Quibusdam rerum dicta alias officia
      ducimus tempora consequuntur eaque, quis totam incidunt? Ut laborum quisquam asperiores, repellat vitae dicta
      sapiente aut ullam totam. Quam ut eos ex suscipit facere explicabo sunt consequatur id, hic perferendis. Quidem
      cumque dolor praesentium molestias, nihil modi illo, dolore eos sed veniam aperiam eligendi ut id? Ducimus,
      consequuntur nemo repellendus, asperiores corrupti quis eum molestias minus cumque sed voluptas eius, natus
      recusandae nesciunt nostrum vel quo ipsam assumenda est. Eum hic ad sint consectetur ipsa doloribus velit, ut
      explicabo dolorem architecto ab animi iure quae id vero consequatur incidunt dolores iusto fuga at rem asperiores
      quos aut! Optio unde qui quas quaerat corporis debitis repudiandae, velit perferendis rerum quam ipsum fugit
      facere eius aliquid! Neque praesentium maxime ullam in magni quas voluptatum quis perspiciatis repellat.
      Consequatur aperiam, similique saepe quibusdam optio minus dicta molestias dolores eligendi vel aliquam distinctio
      numquam cupiditate magni? Saepe quae sed dicta, doloremque molestias, vel ipsam odio laudantium suscipit illo
      eligendi provident aspernatur cum eos ducimus blanditiis atque dolorum et corrupti animi quaerat reiciendis. Ullam
      repellat cumque vero excepturi, quas accusantium iste minus fugiat neque impedit. Perspiciatis harum reiciendis at
      aspernatur dicta facere repudiandae itaque molestias? Beatae harum, aliquid ducimus in voluptatem iusto quod
      quibusdam laborum vitae animi, voluptas ipsum eaque aut quas. Maxime ad saepe qui! Illo ut magni aperiam, quae
      error vel similique fugit cupiditate, aliquam ad rem ea velit reiciendis? Doloribus quasi enim odit, autem vitae
      quaerat quae earum doloremque error, a obcaecati voluptatum, voluptatibus dolore optio iure quam velit nobis saepe
      quisquam distinctio culpa non esse necessitatibus atque? Exercitationem modi maiores sapiente fugit! Ipsa hic ad
      ex velit quas porro? Quisquam sit voluptates eius iure unde facilis tempora quos blanditiis excepturi laborum,
      rerum, esse odio vero repellendus, aperiam officia impedit perferendis nisi? Incidunt, magnam et fugiat ab laborum
      rem veritatis molestias. Ad esse, quidem nesciunt atque enim officia aperiam tenetur consequatur error impedit
      recusandae illum, facere animi, eius vero tempora eaque vitae perspiciatis dolorem accusamus eos eligendi autem.
      Explicabo, nostrum soluta cumque fugit voluptatem ullam incidunt, assumenda expedita corporis ex maxime quibusdam,
      error inventore officia voluptates adipisci repudiandae architecto voluptate qui. Repellat, recusandae dolores.
      Aspernatur tempore perspiciatis, cupiditate aliquid iste, veritatis, doloremque error repellat velit iusto dolore
      inventore laudantium minima maiores ab nemo temporibus! Consequatur ipsum quam vel debitis? Sapiente, placeat?
      Nihil vel, corrupti beatae ex, fugiat, placeat sed quaerat iusto maiores aliquam aliquid nobis ducimus porro
      tempore! Impedit libero officia itaque. Consectetur ab sequi saepe voluptas fugiat quia ex ducimus, non mollitia
      suscipit ea quidem laboriosam, repellendus, deserunt recusandae quas dolore est debitis doloribus eos. Id illo quo
      dicta, earum modi autem in delectus excepturi facilis minima neque, expedita pariatur. Excepturi, magnam sapiente.
      Tenetur fuga nemo reprehenderit velit voluptate dolores animi. Ipsum numquam, itaque ipsam ab modi recusandae ex,
      molestiae a nihil adipisci officiis ipsa deserunt sapiente sit dolor, magni omnis ea dolores veniam accusamus sint
      voluptas error. Sit quisquam veniam similique nesciunt perferendis repudiandae quos sequi enim molestias
      aspernatur? Voluptatibus, quos mollitia nisi maiores blanditiis maxime, omnis ratione assumenda placeat expedita
      dicta quibusdam, corrupti doloribus nobis aliquam rem consequuntur temporibus repudiandae ducimus porro a sequi?
      Quasi fugit, esse alias dolores dignissimos temporibus harum in quisquam cum quidem tenetur nam culpa consequuntur
      illum quod veritatis adipisci dolorum aperiam ratione corporis enim eveniet consectetur fuga voluptas. Ex quisquam
      repellat magnam quibusdam amet recusandae, ab aut, aspernatur hic ad rem laudantium suscipit a assumenda qui
      distinctio neque dolor eum, fuga delectus. Neque optio qui ad ut at officiis nulla fugiat voluptate praesentium
      aperiam explicabo quidem ab quod laboriosam, necessitatibus autem minima perspiciatis repudiandae deserunt nemo
      facere! Aspernatur repellat sunt maxime quas totam pariatur ducimus amet corrupti sit fuga libero, hic in, quasi
      repellendus necessitatibus deleniti!
    </div>
  </div>
</div>
