header{
  background-color: black;
}
.search-input {
        padding: 3px 55px 3px 40px;
      }
      .search-icon {
        position: absolute;
        top: 5px;
        left: 15px;
        color: black;
      }
      .voice-icon {
        position: absolute;
        top: 5px;
        right: 15px;
        color: black;
      }
.menu{
  transition: 0.2s ease-in-out;
}
.menu ul{
  padding: 0;
  margin: 0;
}
.menu ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 24px; 

}

@media  (max-width: 575px) {
  .menu{
    position: fixed;
    left: -220px;
    top: 44px;
    width: 220px;
    height: 100%;
    background-color: black;
    z-index: 1000;
  }
  .menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 0 20px;
    border-bottom: 1px solid white;
  }
  .profile{
    display: block;
  }
  .menuClass{
    left: 0;
    transition: 0.2s ease-in-out;
  }
}