<section class="h-100">
    <div class="container-fluid ">
          <form>
            <div class="row d-flex  justify-content-center align-items-center h-100">
              <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1  align-items-center">
                  <h3 class="text-center"><span class="text-danger">1</span>Rhythm</h3>
                  <h2 class="text-center text-nowrap my-4">Recover  Password</h2>
            <!-- text input -->
            <div class="form-outline mb-2">
                <label class="form-label" for="number">Enter OTP <span class="text-danger">*</span></label>
              <input type="text" id="number" class="form-control form-control-lg"
                placeholder="Enter OTP" />
            </div>
              <!-- text input -->
              <div class="form-outline mb-2">
                <label class="form-label" for="">New Password<span class="text-danger">*</span></label>
              <input type="text" id="number" class="form-control form-control-lg"
                placeholder="Enter New Password" />
            </div>
              <!-- text input -->
              <div class="form-outline mb-2">
                <label class="form-label" for="">Confirm New Password<span class="text-danger">*</span></label>
              <input type="text" id="number" class="form-control form-control-lg"
                placeholder="Enter Confirm New Password" />
            </div>
            <div class="text-center mt-4">
              <button type="button" class="btn btn-success ">Submit</button>
              <p class="small fw-bold my-4"><a 
                  class="link-primary" routerLink="/login">Click here to Login</a></p>
            </div>
            </div>
          </div>
          </form>
      
    </div>
  </section>