<section class="h-100 ">
  <div class="container-fluid mb-5 m-0">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-md-8  d-flex flex-column   ">
        <form [formGroup]="d">
          <h3 class="text-center "><span>Studios </span><span> | </span><span> Artist</span></h3>
          <!-- <pagination-controls (pageChange)="p = $event" ></pagination-controls> -->
          <!-- pager -->
          <div class="d-flex mt-3 w-100 flex-grow-1">
            <span class="text-nowrap me-2 mt-1">Filter By:</span>
            <div class="row">
              <div class="col-lg-4  col-md-4  col-sm-4  col-4">
                <div class="">
                  <select class="form-select" [(ngModel)]="selected" (ngModelChange)="onSelect(selected)"
                    formControlName="tag">
                    <option *ngFor="let option of options" [value]="option">
                      {{ option }}
                    </option>
                  </select>


                </div>
              </div>
              <div class="col-lg-4   col-md-4  col-sm-4 col-4">
                <div class="">
                  <select class="form-select">
                    <option selected>State </option>
                    <option value="Daman">Daman</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="UP">UP</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-md-4  col-sm-4 col-4">
                <div class="">
                  <select class="form-select">
                    <option selected>City </option>
                    <option value="Daman">Daman</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="UP">UP</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row  my-5 h-100 ">
      <div class="col-lg-4 col-md-6  col-sm-6  col-12 d-flex  justify-content-center  mt-4"
        *ngFor="let data of pagedItems ">
        <!-- | paginate: { itemsPerPage: 3, currentPage: p } -->
        <div class="card" style="width: 18rem;">
          <img [src]="data.image_paths" width="250px" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">{{data.title}}</p>
          </div>
        </div>
      </div>
    </div>
    <ul class="pagination justify-content-center mb-5 ">
      <li class="page-item  cursor-pointer" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(1)">First</a>
      </li>
      <li class="page-item mb-5  cursor-pointer" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)"><span class="bi bi-caret-left-fill"></span></a>
      </li>
      <li class="page-item  cursor-pointer" *ngFor="let page of pager.pages"
        [ngClass]="{active:pager.currentPage === page}">
        <a class="page-link " (click)="setPage(page)">{{page}}</a>
      </li>
      <li class="page-item  cursor-pointer" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.currentPage + 1)"><span class="bi bi-caret-right-fill"></span></a>
      </li>
      <li class="page-item  cursor-pointer" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</section>
