<section class="h-100 ">
    <div class="container-fluid ">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 ">
                <h3 class="text-center "><span>Studios </span><span> | </span><span> Artist</span></h3>

                <div class="d-flex mt-3">
                    <span class="text-nowrap me-2 mt-1">Filter By:</span>
                    <div class="row">
                        <div class="col-lg-4  col-md-4  col-sm-4  col-4">
                            <div class="">
                                <select class="form-select" formControlName="state">
                                    <option selected>Artist Type </option>
                                    <option value="Daman">Daman</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="UP">UP</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4   col-md-4  col-sm-4 col-4">
                            <div class="">
                                <select class="form-select" formControlName="state">
                                    <option selected>State </option>
                                    <option value="Daman">Daman</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="UP">UP</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4  col-sm-4 col-4">
                            <div class="">
                                <select class="form-select" formControlName="state">
                                    <option selected>City </option>
                                    <option value="Daman">Daman</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="UP">UP</option>
                                </select>
                            </div>
                        </div>

                    </div>

                </div>
               
            </div>
        </div>
           
                    <div class="row  my-5 h-100 d-flex justify-content-center align-items-center  ">
                        <div class="col-lg-3  col-md-6  col-sm-6  col-12">
                            <div class="card" style="width: 18rem;">
                                <img src="https://mdbootstrap.com/img/new/standard/city/041.webp" width="250px" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-3   col-md-6  col-sm-6  col-12">
                            <div class="card" style="width: 18rem;">
                                <img src="https://mdbootstrap.com/img/new/standard/city/041.webp" width="250px" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>
                            
                        </div>
                        <div class="col-lg-3   col-md-6  col-sm-6 col-12">
                            <div class="card" style="width: 18rem;">
                                <img src="https://mdbootstrap.com/img/new/standard/city/041.webp" width="250px" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>
                            
                        </div>
                        <div class="col-lg-3 col-md-6  col-sm-6  col-12">
                            <div class="card" style="width: 18rem;">
                                <img src="https://mdbootstrap.com/img/new/standard/city/041.webp" width="250px" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>
                           
                        </div>

                    </div>

    </div>
</section>